{lib_dirs,["/usr/local/Cellar/elixir/0.14.3/lib","../_build/prod"]}.

{release,{reltest,"0.0.1"},[{reltest,"0.0.1"},elixir,iex,sasl]}.

{include_erts,true}.

{include_src,false}.

{extended_start_script,true}.

{generate_start_script,false}.

{overlay,[{mkdir,"releases/0.0.1"},
          {copy,"./files/sys.config","releases/0.0.1/sys.config"},
          {copy,"./files/boot","bin/reltest"},
          {copy,"/Users/ds/Documents/sources/tmp/reltest/_build/prod/consolidated",
                "lib/consolidated"},
          {copy,"/Users/ds/Documents/sources/tmp/reltest/config/reltest.schema.exs",
                "releases/0.0.1/reltest.schema.exs"},
          {copy,"/Users/ds/Documents/sources/tmp/reltest/config/reltest.conf",
                "releases/0.0.1/reltest.conf"},
          {copy,"/Users/ds/Documents/sources/tmp/reltest/deps/conform/conform",
                "bin/conform"}]}.

